Package: shadowsocks-qt5-dbgsym
Source: shadowsocks-qt5
Version: 3.0.1-2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Boyuan Yang <byang@debian.org>
Installed-Size: 2244
Depends: shadowsocks-qt5 (= 3.0.1-2)
Section: debug
Priority: optional
Description: debug symbols for shadowsocks-qt5
Build-Ids: 39edfd2d75a9a2855e15caac4303c89e7c05a8f1
